/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 RESET
1.0 HEADER
2.0 SIDE MENU
3.0 MAIN
	3.1 board left
    3.2 board right
4.0 MEDIA QUERIES
--------------------------------------------------------------*/
section{
    padding: 3rem 0;
}
.ic{
    padding-right: 15px;

}
li i{
    color: #22A39F;
}
.gm{
    font-size: 50px;
    font-family: "Times New Roman";
    font-style: italic;
    font-family: 'Gamja Flower', cursive; 
}
.cit{
    font-style: italic;
}
.black{
    color: #434242;
}
.s-titre h3{
    padding-left: 20px;
    color: #434242;
}
.item{

}
.progress {
    margin-bottom: 10px;
}
.progress-bar{
    
    background-color: #22A39F;
}
.progress-bar p{
    color: #f3efe0;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
    padding: 20px 5px 5px 10px;
    font-weight: 900;
}
.level-bar{
    
    height: 30px;
}
/*--------------------------------------------------------------
0.0 RESET
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Raleway', sans-serif;
    color: #434242;
}
ul, li{
    list-style-type: none;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-weight: 900;
}
h2{
    color: #22A39F;
    font-size: 55px;
}
h3{
    color: #22A39F;
    font-weight: 100;
    padding-bottom: 20px;
    font-size: 28px;
}

/*--------------------------------------------------------------
0.0 RESET BOOTSTRAP
--------------------------------------------------------------*/
.container{
    max-width: 1400px;
}
/*--------------------------------------------------------------
0.0 HEADER
--------------------------------------------------------------*/
header{
    background-color: #22A39F;
    background-attachment: fixed;
    background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
    /* background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png"); */
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.822);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.514);
}
.header{
    min-height: 100vh;
    width: 100%;
    margin-bottom: -8px;
}
.qui{
    min-height: 100vh;
    text-align: center;
    
}

/*--------------------------------------------------------------
0.0 NAV
--------------------------------------------------------------*/
nav{
    z-index: 10;
}
nav a:hover{
    color: #22A39F;
}
.topnav a{
    
}
.topnav{
    text-align: center;
}
  .topnav .icon {
    display: none;
  }
 /* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 1s;
  }
  .lienActif{
    color: #22A39F;
    transition: 1s;
    border-bottom: 2px solid #22A39F;
   }
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 
/*--------------------------------------------------------------
0.0 PRESENTATION
--------------------------------------------------------------*/
.arrow{
    margin-top: 80px;
    text-align: center;
}
.arrow img{
    transition: 1s;
    width: 50px;
    opacity: 0.5;
}
.arrow img:hover{
    transition: 1s;
    cursor: pointer;
    width: 50px;
    opacity: 1;
}
.cont-me{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #f3efe0;
    min-height: 100vh;
}
.soust{
    font-weight: 100;
    border-top: 2px solid rgb(95, 93, 93);
    display: inline;
    padding-top: 3px;
 
}

.titre{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
}
.titre p{
   
    font-style: italic;
}
figcaption{
    padding-top: 10px;
}
.flex-me{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.propos p{
    
    /* text-shadow: 1px 1px #efefef; */
    text-align: justify;
}
.sep{
    margin: auto;
    width: 80%;
    border-top: 1px solid rgba(34, 163, 159, 0.422);
    padding-top: 20px;
    padding-bottom: 50px;
}
.avatar{
    text-align: center;
}
.avatar img{
    margin: 0 15px 0 15px;
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
    overflow: hidden;
    border: 15px solid white;
    transition: 0.7s;
}
.avatar img:hover{
    transition: 0.7s;
    border: 15px solid rgba(34, 163, 159, 0.21);
}
.details li{
    padding-bottom: 10px;
}
.row{
    align-items: center;
}
.continue{
    margin-top: 30px;
    text-align: center;
}
.fa{
    padding-right: 15px;
}
.lien{
 
    
    margin: 20px auto 20px auto;
    display: flex;
}
.lien img{
    margin-right: 30px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
    opacity: 0.5;
}
.lien img:hover{
    width: 30px;
    height: 30px;
    transition: 0.5s;
    opacity: 1;
}

/*--------------------------------------------------------------
0.0 COMPETENCES
--------------------------------------------------------------*/
.titre-comp{
    text-align: center;
    margin-bottom: 50px;
}
.cont-comp{
    margin-bottom: -8px;
    /* padding-top: 20px; */
    background-color: white;
    min-height: 100vh;
}
.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-ico-comp{
    display: block;
    display: flex;
    flex-wrap: wrap;
}
.ico-comp{
    text-align: center;
    /* border: 1px solid red; */
    width: 200px;
    margin: 0 50px 0 50px;
}
.ico-comp img{
    margin-bottom: 10px;
}
.ico-comp h3{
    padding-bottom: 0;
    margin-bottom: 15px;
}
.cont-outils{
/* border: 1px solid blue; */
display: flex;
flex-wrap: wrap;
}
.outils-front{
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    /* border: 1px solid red; */
}
.outils-back{
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    /* border: 1px solid red; */
}
.outils-autres{
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    /* border: 1px solid red; */
}
.s-titre{
    display: flex;
    flex-wrap: wrap;
}
.programmation{
    width: 70%;
}
.autres{
    width: 30%;
}
.cont-outils p{
    /* border-radius: 5px;
    color: #f3efe0;
    margin: 0 0 15px 0;
    padding: 5px 5px 5px 5px;
    background-color: #22A39F;
    font-weight: 900; */
}
.liste{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.pagination{
    margin-top: 20px;
}
/*--------------------------------------------------------------
0.0 REALISATION
--------------------------------------------------------------*/
.cont-rea{
    margin-bottom: -8px;
    padding: 80px 0 30px 0;
    background-color: #f3efe0;
    min-height: 100vh;
}
.card{
    /* max-width: 500px; */
    transition: 0.5s;
    color: #515151;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 25px;
}
.card:hover{
    transition: 0.5s;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}
.card-title{
    color:#22A39F;
}
.card-link{
    display: inline-flex;
    margin-left: 21px;
}
.card-link p{
    padding: 0 15px 0 15px;
}
.card-link a{
    color: #22A39F;
}
.colorprim{
    color: #22A39F;
}
.card-link a:hover{
    
}/*--------------------------------------------------------------
0.0 FLIPPING
--------------------------------------------------------------*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 360px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 20px;
  }
  .flip-card img{
    width: 360px;
    height: 200px;
  }
  .flip-card p{
      font-size: 15px;
  }
  .flip-card a{
    color: white;
}
.flip-card h3{
    color: white;
    padding-bottom: 10px;
}
.flip-card a:hover{
    color: white;
}
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
      padding: 15px 15px 0px 15px;
    background-color: #22A39F;
    color: white;
    transform: rotateY(180deg);
  }
/*--------------------------------------------------------------
4.0 FORMATION
--------------------------------------------------------------*/
.cont-dip{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #d0d0d0;
    min-height: 100vh;
}

/*--------------------------------------------------------------
0.0 TIMELINE
--------------------------------------------------------------*/
a{text-decoration:none}
h4{text-align:center;margin:30px 0;color:#444}
.main-timeline{position:relative}
.main-timeline:before{content:"";width:5px;height:100%;border-radius:20px;margin:0 auto;background:#242922;position:absolute;top:0;left:0;right:0}
.main-timeline .timeline{display:inline-block;margin-bottom:50px;position:relative}
.main-timeline .timeline:before{content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:#ec496e;position:absolute;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%)}
.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid #ec496e;padding:13px;text-align:center;position:absolute;top:50%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:#ec496e;font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:#ec496e;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background:#fff;top:89px;right:-30px}
.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid #ec496e;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:#ec496e;position:absolute;top:13px;left:0}
.main-timeline .title{font-size:20px;font-weight:600;color:#ec496e;text-transform:uppercase;margin:0 0 5px}
.main-timeline .description{display:inline-block;font-size:16px;color:#404040;line-height:20px;letter-spacing:1px;margin:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{background:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:#f9850f}
.main-timeline .timeline:nth-child(2n) .title{color:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:#f9850f;border-bottom-color:#f9850f}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{background:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:#8fb800}
.main-timeline .timeline:nth-child(3n) .title{color:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color:#8fb800;border-bottom-color:#8fb800}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{background:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .title{color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:#2fcea5;border-bottom-color:#2fcea5}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:990px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}
/*--------------------------------------------------------------
4.0 INTERETS
--------------------------------------------------------------*/
.cont-int{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #e1dfdf;
    min-height: 100vh;
}
/*--------------------------------------------------------------
4.0 MEDIA CONTACT
--------------------------------------------------------------*/
.cont-contact{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #d0d0d0;
    min-height: 100vh;
}
/*--------------------------------------------------------------
4.0 MEDIA QUERIES
--------------------------------------------------------------*/
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

  @media(max-width:480px){}
  @media(max-width:767px){}
  @media(min-width:768px){}
  @media(min-width:992px){}
  @media(max-width:1200px){

  }
  @media screen and (max-width: 600px) {
    
    .card{
        margin-bottom: 20px;
        
    }
    .container-ico-comp{
        display: block;
    }
    #realisations{
        /* display: none; */
    }
}
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .card-text{
        display: none;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }