*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #4b5353;
}
ul, li{
    list-style-type: none;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-weight: 900;
}
h2{
    font-weight: 900;
}
.soust{
    font-weight: 100;
    border-top: 2px solid rgb(95, 93, 93);
    display: inline;
    padding-top: 3px;
}
h3{
    font-weight: 900;
    padding-bottom: 20px;
}
nav{
    z-index: 10;
}
nav a:hover{
    color: red;
}
.topnav a{
    
}
figcaption{
    padding-top: 10px;
}
.icon{
    display: none;
}
.container{
    max-width: 1400px;
}
.row{
    padding-top: 20px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(72, 72, 78);
    margin-bottom: -8px;
}
.cont-me{
    margin-bottom: -8px;
    padding-top: 30px;
    background-color: #d0d0d0;
    min-height: 100vh;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.822);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.514);
}
.cont-comp{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #e1dfdf;
    
    min-height: 100vh;
}
.cont-rea{
    margin-bottom: -8px;
    padding: 80px 0 30px 0;
    background-color: #d0d0d0;
    
    
    
    min-height: 100vh;
}
.card{
    /* max-width: 500px; */
    transition: 0.5s;
    color: #515151;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.card:hover{
    transition: 0.5s;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}
.card-link{
    display: inline-flex;
}
.card-link p{
    padding: 0 15px 0 15px;
}
.card-link a{
    
}
.card-link a:hover{
    
}
.cont-xp{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #e1dfdf;
    min-height: 100vh;
}
.cont-dip{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #d0d0d0;
    min-height: 100vh;
}
.cont-int{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #e1dfdf;
    min-height: 100vh;
}
.cont-contact{
    margin-bottom: -8px;
    padding-top: 80px;
    background-color: #d0d0d0;
    min-height: 100vh;
}

/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 1s;
  }
  .lienActif{
    color: red;
    transition: 1s;
    border-bottom: 2px solid rgb(255, 255, 255);
   }
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  /* COMPETENCES */
  .container-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .container-ico-comp{
      display: flex;
      flex-wrap: wrap;
  }
  .ico-comp{
      text-align: center;
      border: 1px solid red;
      width: 200px;
      margin: 0 50px 0 50px;

  }
  /* A PROPOS */

.flex-me{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.qui{
    text-align: center;
    margin-bottom: 70px;
}
.propos p{
    font-size: 20px;
    text-shadow: 1px 1px #efefef;
    text-align: justify;
}
.cont-me h2, h3, h1, li, cite{
    text-shadow: 1px 1px #efefef;
}
.avatar{
    text-align: center;
}
.avatar img{
    margin: 0 15px 0 15px;
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.626);
}
.details li{
    padding-bottom: 10px;
}
.row{
    align-items: center;
}
.continue{
    margin-top: 30px;
    text-align: center;
}
.fa{
    padding-right: 15px;
}

  @media(max-width:480px){}
  @media(max-width:767px){}
  @media(min-width:768px){}
  @media(min-width:992px){}
  @media(max-width:1200px){

  }
.topnav{
    text-align: center;
}


  
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .card{
        margin-bottom: 20px;
        
    }
}
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .card-text{
        display: none;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }